{% extends 'base.html' %}

{% load static %}

{% block body_content %}

<!-- Start Cart  -->
<div class="cart-box-main">
    <div class="container">
        <div class="row justify-content-around ">
            <div class="address-container col-lg-5 col-md-5 col-sm-12 mb-5" style="padding: 0;">
                <div class="border shadow">
                    <div class="container">
                        <p class="text-center h2 border-bottom pb-3">User Information</p>

                        <div class="contact-container pb-3 h6">
                            Name: <span class="pl-2">{{order_details.user.profile.fullname}}</span>
                        </div>
                        <div class="contact-container pb-3 h6">
                            Phone: <span class="pl-2">{{order_details.user.profile.phone}}</span>
                        </div>
                        <div class="contact-container pb-3 h6">
                            Email: <span class="pl-2">{{order_details.user}}</span>
                        </div>
                        <p class="text-center h2 border-bottom pb-3">Shipping Address</p>
                        <div class="contact-container pb-3 h6">
                            Contact no: <span class="pl-2">{{order_details.shipping_address.phone}}</span>
                        </div>
                        <div class="address-container pb-3 h6">
                            Address: <span class="pl-2">{{order_details.shipping_address.address}}</span>
                        </div>
                        <div class="city-container pb-3 h6">
                            City: <span class="pl-2">{{order_details.shipping_address.city}}</span>
                        </div>
                        <div class="zip-container pb-3 h6">
                            Zip code: <span class="pl-2">{{order_details.shipping_address.zip_code}}</span>
                        </div>
                    </div>

                </div>


            </div>
            <div class="address-container col-lg-5 col-md-5 col-sm-12 border shadow">
                <p class="text-center border-bottom h2 pb-3">Order details</p>
                <table class="table table-borderless">
                    <thead>
                        <tr>

                            <th scope="col">Item</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in item_details %}
                        <tr>

                            <td>{{item.item}}</td>
                            <td>{{item.qty}}</td>
                            <td>{{item.price}}</td>
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>
                <div class="row justify-content-end pb-3">
                    <div class="col-sm-4 border-top">
                        Total : {{order_details.get_total}}
                    </div>
                </div>


            </div>

        </div>



    </div>


    <!-- End Cart -->

    {% endblock %}