{% extends 'base.html' %}

{% load static %}

{% block body_content %}

<!-- Start Cart  -->
<div class="cart-box-main">
    <div class="container">
        <div class="row justify-content-around ">
            <div class="address-container col-lg-5 col-md-5 col-sm-12 mb-5" style="padding: 0;">
                <div class="border shadow">
                    <div class="container">
                        <p class="text-center h2 border-bottom pb-3">Address</p>
                        <div class="contact-container pb-3 h6">
                            Contact no: <span class="pl-2">01777777777</span>
                        </div>
                        <div class="address-container pb-3 h6">
                            Address: <span class="pl-2">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Veritatis,
                                nemo
                                possimus laboriosam saepe quo eius dolorem iusto mollitia? Incidunt totam, dolor,
                                voluptate
                                quam
                                dolore neque assumenda aspernatur sed, distinctio ea consequatur vitae? Voluptatem modi
                                quae
                                maiores expedita velit rem qui molestias voluptatum dolores consequatur reprehenderit,
                                quibusdam
                                reiciendis sed sapiente quo?.</span>
                        </div>
                        <div class="city-container pb-3 h6">
                            City: <span class="pl-2">Lorem ipsum dolor sit amet.</span>
                        </div>
                        <div class="zip-container pb-3 h6">
                            Zip code: <span class="pl-2">01777777777</span>
                        </div>
                    </div>

                </div>


            </div>
            <div class="address-container col-lg-5 col-md-5 col-sm-12 border shadow">
                <p class="text-center border-bottom h2 pb-3">Order details</p>
                <table class="table table-borderless">
                    <thead>
                        <tr>

                            <th scope="col">First</th>
                            <th scope="col">Last</th>
                            <th scope="col">Handle</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>

                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                        </tr>
                        <tr>

                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                        </tr>
                        <tr>

                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                        </tr>
                        <tr>

                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                        </tr>
                        <tr>

                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                        </tr>
                        <tr>

                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                        </tr>
                    </tbody>
                </table>
                <div class="row justify-content-end pb-3">
                    <div class="col-sm-5 border-top">
                        Total : 100000
                    </div>
                </div>


            </div>

        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="table-main table-responsive">
                    <div>
                        address:
                        {{order_details.shipping_address.address}}
                        city:
                        {{order_details.shipping_address.city}}
                        zip code:
                        {{order_details.shipping_address.zip_code}}
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="table-main table-responsive">
                    <div>
                        {% for item in item_details %}
                        <hr>
                        <p>{{item.item}}</p>
                        <p>{{item.qty}}</p>
                        <p>{{item.price}}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>


    </div>


    <!-- End Cart -->

    {% endblock %}