{% extends 'base.html' %}
{% load static %}

{% load crispy_forms_tags %}
{% block body_content %}


<div class="container-fluid pb-4">
    <div class="row justify-content-center">
        <div class="col-sm-12">
            <p class="h1 text-center">Place Order</p>
        </div>
        <div class="col-sm-12 col-md-6">
            <form id="shippingForm">
                {% csrf_token %}
                <div class="form-group">
                    <label for="exampleInputEmail1">Contact person phone</label>
                    <input type="text" class="form-control" id="phone" name="phone" aria-describedby="emailHelp"
                        placeholder="Enter phone number">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Address*</label>
                    <input type="text" class="form-control" id="address" name="address" placeholder="Enter address"
                        required>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">City*</label>
                    <input type="text" class="form-control" id="city" name="city" placeholder="Enter city" required>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Zip code*</label>
                    <input type="text" class="form-control" id="zip_code" name="zip_code" placeholder="Enter zip code"
                        required>
                </div>

                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Place Order</button>
                </div>
            </form>
        </div>
    </div>
    <div class="row justify-content-center shadow-lg  bg-white rounded "
        style="width: 325px; margin: 0 auto; padding: 20px; border-radius: 5px; position: relative;">
        <div class="circle-success-container" style="color: #82ce34; position: absolute; top: -31px;">
            <i class="fa-solid fa-circle-check fa-4x"></i>
        </div>
        <div class="success-message pt-4 h2">
            Success!
        </div>
        <div class="booking-message text-center pt-1" style="line-height: normal;">
            Your booking has been confirmed. <br> Check your email for detials.
        </div>

    </div>



</div>
<script src="{% static 'order.js' %}"></script>

{% endblock %}