<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Site Metas -->
    <title>Khamari Bazar</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href={% static "images/khamari_bazar_logo1.png" %} type="image/x-icon">
    <link rel="apple-touch-icon" href={% static "images/apple-touch-icon.png" %}>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href={% static "css/bootstrap.min.css" %}>
    <!-- Site CSS -->
    <link rel="stylesheet" href={% static "css/style.css" %}>
    <!-- Responsive CSS -->
    <link rel="stylesheet" href={% static "css/responsive.css" %}>
    <!-- Custom CSS -->
    <link rel="stylesheet" href={% static "css/custom.css" %}>



    <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>


    <!-- Start Main Top -->
    <header class="main-header">
        <!-- Start Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-default bootsnav">
            <div class="container">
                <!-- Start Header Navigation -->
                <div class="navbar-header">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu"
                        aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fa fa-bars"></i>
                    </button>

                    <a class="navbar-brand" href="index.html"><img src={% static "images/khamari_bazar_logo.png" %}
                            class="logo" alt=""></a>
                </div>
                <!-- End Header Navigation -->

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-menu">
                    <ul class="nav navbar-nav ml-auto" data-in="fadeInDown" data-out="fadeOutUp">
                        <li class="nav-item"><a class="nav-link" href="#"><span><i class="fa-solid fa-phone"></i></span>
                                01740117690</a></li>
                        <li class="nav-item active"><a class="nav-link" href="index.html">Home</a></li>
                        <!-- <li class="nav-item"><a class="nav-link" href="about.html">About Us <span></span> </a></li>
                        <li class="dropdown">
                            <a href="#" class="nav-link dropdown-toggle arrow" data-toggle="dropdown">SHOP</a>
                            <ul class="dropdown-menu">
                                <li><a href="shop.html">Sidebar Shop</a></li>
                                <li><a href="shop-detail.html">Shop Detail</a></li>
                                <li><a href="cart.html">Cart</a></li>
                                <li><a href="checkout.html">Checkout</a></li>
                                <li><a href="my-account.html">My Account</a></li>
                                <li><a href="wishlist.html">Wishlist</a></li>
                            </ul>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="gallery.html">Gallery</a></li> -->
                        <li class="nav-item"><a class="nav-link" href=""><span><i class="fa-regular fa-user"></i></span>
                                SIGN IN</a></li>

                    </ul>
                </div>
                <!-- /.navbar-collapse -->

                <!-- Start Atribute Navigation -->
                <div class="attr-nav">
                    <ul>
                        <li class="side-menu">
                            <a href="#">
                                <i class="fa fa-shopping-bag"></i>
                                <!-- <span class="badge">3</span> -->
                                <p>My Cart</p>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- End Atribute Navigation -->
            </div>
            <!-- Start Side Menu -->
            <div class="side">
                <a href="#" class="close-side"><i class="fa fa-times"></i></a>
                <li class="cart-box">
                    <ul class="cart-list">
                        <li>
                            <a href="#" class="photo"><img src="images/img-pro-01.jpg" class="cart-thumb" alt="" /></a>
                            <h6><a href="#">Delica omtantur </a></h6>
                            <p>1x - <span class="price">$80.00</span></p>
                        </li>
                        <li>
                            <a href="#" class="photo"><img src="images/img-pro-02.jpg" class="cart-thumb" alt="" /></a>
                            <h6><a href="#">Omnes ocurreret</a></h6>
                            <p>1x - <span class="price">$60.00</span></p>
                        </li>
                        <li>
                            <a href="#" class="photo"><img src="images/img-pro-03.jpg" class="cart-thumb" alt="" /></a>
                            <h6><a href="#">Agam facilisis</a></h6>
                            <p>1x - <span class="price">$40.00</span></p>
                        </li>

                    </ul>
                    <ul>
                        <li class="total">
                            <a href="#" class="btn btn-default hvr-hover btn-cart">VIEW CART</a>
                            <span class="float-right"><strong>Total</strong>: $180.00</span>
                        </li>

                    </ul>
                </li>
            </div>
            <!-- End Side Menu -->
        </nav>
        <!-- End Navigation -->
    </header>
    <!-- End Main Top -->

    <!-- Start Top Search -->
    <div class="top-search">
        <div class="container">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                <input type="text" class="form-control" placeholder="Search">
                <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
            </div>
        </div>
    </div>
    <!-- End Top Search -->

    <!-- Start Slider -->
    <div id="slides-shop" class="cover-slides">
        <ul class="slides-container">
            <li class="text-center">
                <img src={% static "images/beef.jpg" %} alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="m-b-20"><strong>Welcome To <br> Khamari Bazar</strong></h1>
                            <p class="m-b-40">See how your users experience your website in realtime or view <br> trends
                                to see any changes in performance over time.</p>
                            <!-- <p><a class="btn hvr-hover" href="#">Shop New</a></p> -->
                        </div>
                    </div>
                </div>
            </li>
            <li class="text-center">
                <img src={% static "images/chicken.jpg" %} alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="m-b-20"><strong>Welcome To <br> Khamari Bazar</strong></h1>
                            <p class="m-b-40">See how your users experience your website in realtime or view <br> trends
                                to see any changes in performance over time.</p>
                            <!-- <p><a class="btn hvr-hover" href="#">Shop New</a></p> -->
                        </div>
                    </div>
                </div>
            </li>
            <li class="text-center">
                <img src={% static "images/egg.jpg" %} alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="m-b-20"><strong>Welcome To <br> Khamari Bazar</strong></h1>
                            <p class="m-b-40">See how your users experience your website in realtime or view <br> trends
                                to see any changes in performance over time.</p>
                            <!-- <p><a class="btn hvr-hover" href="#">Shop New</a></p> -->
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <div class="slides-navigation">
            <a href="#" class="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
            <a href="#" class="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
        </div>
    </div>
    <!-- End Slider -->





    <!-- Start Products  -->
    <div class="products-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title-all text-center">
                        <h1>Our Products</h1>

                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-lg-12" style="display: flex; justify-content: space-between; align-items: center;">
                        <p style="font-size: 2rem; font-weight: bold;">Chicken</p>
                        <div class="button-group filter-button-group">

                            <!-- <button><a style="color: white;" href="#">All</a></button> -->
                        </div>

                    </div>
                </div>
            </div>
            <div class="row special-list">
                {% for item in chicken_items %}

                <div class="col-lg-3 col-md-6 special-grid best-seller">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <div class="type-lb">
                                <p class="sale">{{item.product_status}}</p>
                            </div>
                            <img src="{{item.product_image.url}}" class="img-fluid" alt="Image">
                            <!-- <img src={% static "images/chicken_with_skin.jpeg" %} class="img-fluid" alt="Image"> -->
                            {% if item.product_status != 'out of stock' %}
                            <div class="mask-icon">
                                <a class="cart" href="#" disable>Add to Cart </a>
                            </div>

                            {% endif %}
                        </div>
                        <div class="why-text">
                            <h4>{{item.product_name}}</h4>
                            <h5><span>&#2547;</span>{{item.product_price}} per {{item.unit_status}}</h5>
                        </div>
                    </div>
                </div>
                {% endfor %}




            </div>
        </div>
        <div class="container">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12" style="display: flex; justify-content: space-between; align-items: center;">
                        <p style="font-size: 2rem; font-weight: bold;">BEEF</p>
                        <div class="button-group filter-button-group">

                            <!-- <button><a style="color: white;" href="#">All</a></button> -->
                        </div>

                    </div>
                </div>
            </div>
            <div class="row special-list">
                {% for item in beef_items %}
                <div class="col-lg-3 col-md-6 special-grid best-seller">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <div class="type-lb">
                                <p class="sale">{{item.product_status}}</p>
                            </div>
                            <img src="{{item.product_image.url}}" class="img-fluid" alt="Image">
                            {% if item.product_status != 'out of stock' %}
                            <div class="mask-icon">
                                <a class="cart" href="#" disable>Add to Cart </a>
                            </div>

                            {% endif %}
                        </div>
                        <div class="why-text">
                            <h4>{{item.product_name}}</h4>
                            <h5><span>&#2547;</span>{{item.product_price}} per {{item.unit_status}}</h5>
                        </div>
                    </div>
                </div>
                {% endfor %}


            </div>
        </div>
        <div class="container">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12" style="display: flex; justify-content: space-between; align-items: center;">
                        <p style="font-size: 2rem; font-weight: bold;">MUTTON</p>
                        <div class="button-group filter-button-group">

                            <!-- <button><a style="color: white;" href="#">All</a></button> -->
                        </div>

                    </div>
                </div>
            </div>
            <div class="row special-list">
                {% for item in mutton_items %}
                <div class="col-lg-3 col-md-6 special-grid best-seller">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <div class="type-lb">
                                <p class="sale">{{item.product_status}}</p>
                            </div>
                            <img src={{item.product_image.url}} class="img-fluid" alt="Image">
                            {% if item.product_status != 'out of stock' %}
                            <div class="mask-icon">
                                <a class="cart" href="#" disable>Add to Cart </a>
                            </div>

                            {% endif %}
                        </div>
                        <div class="why-text">
                            <h4>{{item.product_name}}</h4>
                            <h5><span>&#2547;</span>{{item.product_price}} per {{item.unit_status}}</h5>
                        </div>
                    </div>
                </div>
                {% endfor %}


            </div>
        </div>

        <div class="container">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12" style="display: flex; justify-content: space-between; align-items: center;">
                        <p style="font-size: 2rem; font-weight: bold;">Others</p>
                        <div class="button-group filter-button-group">

                            <!-- <button><a style="color: white;" href="#">All</a></button> -->
                        </div>

                    </div>
                </div>
            </div>
            <div class="row special-list">
                {% for item in other_items %}
                <div class="col-lg-3 col-md-6 special-grid best-seller">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <div class="type-lb">
                                <p class="sale">{{item.product_status}}</p>
                            </div>
                            <img src={{item.product_image.url}} class="img-fluid" alt="Image">
                            {% if item.product_status != 'out of stock' %}
                            <div class="mask-icon">
                                <a class="cart" href="#" disable>Add to Cart </a>
                            </div>

                            {% endif %}
                        </div>
                        <div class="why-text">
                            <h4>{{item.product_name}}</h4>
                            <h5><span>&#2547;</span>{{item.product_price}} per {{item.unit_status}}</h5>
                        </div>
                    </div>
                </div>
                {% endfor %}


            </div>
        </div>

    </div>

    <!-- End Products  -->





    <!-- Start Footer  -->
    <footer>
        <div class="footer-main">
            <div class="container">
                <!-- <div class="row">
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-top-box">
                            <h3>Business Time</h3>
                            <ul class="list-time">
                                <li>Monday - Friday: 08.00am to 05.00pm</li>
                                <li>Saturday: 10.00am to 08.00pm</li>
                                <li>Sunday: <span>Closed</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-top-box">
                            <h3>Newsletter</h3>
                            <form class="newsletter-box">
                                <div class="form-group">
                                    <input class="" type="email" name="Email" placeholder="Email Address*" />
                                    <i class="fa fa-envelope"></i>
                                </div>
                                <button class="btn hvr-hover" type="submit">Submit</button>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-top-box">
                            <h3>Social Media</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-google-plus" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-pinterest-p" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-whatsapp" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <hr> -->
                <div class="row">
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-widget">
                            <h4>About Khamari Bazar</h4>
                            <p>Khamari bazar is a well known meat processing company.It is a wholesale company which
                                supplies quality meat.Khamari Bazar deliveries meat to the local markets by ensuring
                                it's highest quality and standard.</p>

                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-link">
                            <h4>Information</h4>
                            <ul>
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Customer Service</a></li>
                                <li><a href="#">Our Sitemap</a></li>
                                <li><a href="#">Terms &amp; Conditions</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#">Delivery Information</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-link-contact">
                            <h4>Contact Us</h4>
                            <ul>
                                <li>
                                    <p><i class="fas fa-map-marker-alt"></i>Address: Dhaka office House: ka-49/8,
                                        Road-14, Nikunja-2, Khilkhet, Dhaka-1229 </p>
                                </li>
                                <li>
                                    <p><i class="fas fa-map-marker-alt"></i>Factory Address: BILDOHORE, SINGRA, NATORE
                                    </p>
                                </li>
                                <li>
                                    <p><i class="fas fa-phone-square"></i>Phone: <a
                                            href="tel:+8801744505094">+8801744505094</a></p>
                                </li>
                                <li>
                                    <p><i class="fas fa-envelope"></i>Email: <a
                                            href="mailto:khamaribazar1@gmail.com">khamaribazar1@gmail.com</a></p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- End Footer  -->

    <!-- Start copyright  -->
    <!-- <div class="footer-copyright">
        <p class="footer-company">All Rights Reserved. &copy; 2018 <a href="#">ThewayShop</a> Design By :
            <a href="https://html.design/">html design</a>
        </p>
    </div> -->
    <!-- End copyright  -->

    <a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>

    <!-- ALL JS FILES -->
    <script src={% static "js/jquery-3.2.1.min.js" %}></script>
    <script src={% static "js/popper.min.js" %}></script>
    <script src={% static "js/bootstrap.min.js" %}></script>
    <!-- ALL PLUGINS -->
    <script src={% static "js/jquery.superslides.min.js" %}></script>
    <script src={% static "js/bootstrap-select.js" %}></script>
    <script src={% static "js/inewsticker.js" %}></script>
    <script src={% static "js/bootsnav.js" %}></script>
    <script src={% static "js/images-loded.min.js" %}></script>
    <script src={% static "js/isotope.min.js" %}></script>
    <script src={% static "js/owl.carousel.min.js" %}></script>
    <script src={% static "js/baguetteBox.min.js" %}"></script>
    <script src={% static "js/form-validator.min.js" %}></script>
    <script src={% static "js/contact-form-script.js" %}></script>
    <script src={% static "js/custom.js" %}></script>
</body>

</html>